<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <div th:replace="fragments :: display-results"></div>
    <!-- TODO #3 - Use the same list display from search.html -->
    <!--<h3 th:text="${total}+ ' Result(s)'"> </h3>-->
    <!--<table class="job-listing" th:each="job : ${jobs}">-->

        <!--<tr th:each="line : ${job}">-->

            <!--<td th:text="${line.getKey()}"></td><td th:text="${line.getValue()}"></td>-->

        <!--</tr>-->

    <!--</table>-->

</div>

</body>
</html>